

{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

<body >
  <header class="home ">

    {% include 'navbar.html' %}
    <div class="container row hero px-0">
        <div class="hero-text col col-12 col-md-6 py-4">
            <h1 class="text-title">Make all your social links in <strong class="text-warning">One Link</strong></h1>
            <p>Create a single, easy-to-manage hub for all your links, making it effortless for your audience to connect with you. 
              Whether you’re a content creator, entrepreneur, or simply want to share your favorite platforms, Link Organize puts everything you need in one convenient place. 
              Elevate your digital experience and stay organized—try Link Organize today!</p>
            <a class="btn btn-lg btn-warning w-50" href="{{url_for('auth_bp.register')}}">Register</a>
        </div>
        <div class="hero-img col col-12 col-md-6 ">
          <img src="../../static/assets/img/hero-img.png" alt="profile card" class="hero-img">
        </div>
      </div>
  </header>
  <section class=" vh-50 py-4 text-center bg-light">
    <h3 class="text-center p-2">Get Started in Three Easy Steps</h3>
    <div class="container row justify-content-between text-center align-items-center">

      <card class="card  col-md-3 col-12 mb-2" style="height: 15rem;">
          <div class="card-body">
            <h4 class="card-title border-bottom py-2 text-primary">Step 1</h4>
            <p class="card-text">Sign up for your free account today and unlock exclusive features!</p>
            <div><i class="home-icon fa-solid fa-user-plus"></i></div>
          </div>
      </card>
      <card class="card  col-md-3 col-12 mb-2" style="height:15rem;">
          <div class="card-body">
            <h4 class="card-title border-bottom py-2 text-primary">Step 2</h4>
            <p class="card-text">Personalize your profile by adding details and social links to connect with others.</p>
            <div><i class="home-icon fa-solid fa-gear"></i></div>
          </div>
      </card>
      <card class="card  col-md-3 col-12" style="height:15rem;">
          <div class="card-body">
            <h4 class="card-title border-bottom py-2 text-primary">Step 3</h4>
            <p class="card-text">Share your unique link or QR code with friends to spread the word!</p>
            <div class=""><i class=" home-icon fa-solid fa-share-from-square"></i></div>
          </div>
      </card>
    </div>
  </section>

  <footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container">
        <span class="text-muted">Link Oraganize © 2024</span>
    </div>
</footer>

    <!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery -->
<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<!-- Bootstrap Core JS -->
<script src="{{ url_for('static', filename='assets/js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>

<!-- Slimscroll JS -->
<script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>

<!-- Slimscroll JS -->
<script src="{{ url_for('static', filename='assets/js/select2.min.js')}}"></script>

<!-- Datetimepicker JS -->
<script src="{{ url_for('static', filename='assets/js/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js')}}"></script>

<script src="https://kit.fontawesome.com/a6d3c1c916.js" crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>


    {% block scripts %}{% endblock %}
</body>
</html>





