html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(
      circle at 29% 55%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(6, 17, 223), rgb(76, 11, 174));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 10, 176, 1) 30%,
    rgba(188, 0, 255, 1) 100%
  ); */
  min-height: 100vh;
  height: 100%;
  color: white;
}
/* Custom navbar styles */
header {
  padding-top: 1rem;
}
.navbar {
  padding: 1rem;
  border-radius: 1rem;
}

.navbar-brand {
  font-size: 1.75rem;
  color: #007bff;
  font-weight: bold;
}

.nav-link {
  font-size: 1.125rem; /* Increase font size of nav items */
  color: #007bff; /* Default text color */
}

.nav-link.active {
  color: #007bff; /* Color of active link */
  font-weight: bold; /* Bold active link text */
}

/* Optional: Adjust background color */
.navbar-light {
  background-color: #f8f9fa; /* Light grey background */
}

.container-max-w {
  max-width: 500px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.profile-pic {
  width: 60px;
  height: 60px;
  background: #e3e3e3;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(124, 3, 3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social-icon,
.profile-icon {
  scale: 250%;
}
.fa-arrow-left {
  scale: 150%;
}

/* user puplic link */

.card {
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: rgb(20, 20, 20);
}
.card-img {
  border-radius: 2rem;
}
.card-img-top {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-weight: bold;
  font-size: 1.5em;
}

.social-icon:hover {
  scale: 3;
  opacity: 0.8;
}
.user-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.user-title {
  font-style: italic;
  margin: 0;
}
.social-links-card {
  margin-block: 1rem;
  padding: 2rem;
  height: 100%;
}
hr {
  width: 100%;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.hero {
  line-height: 2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25rem;
  word-spacing: 0.1rem;
}
.hero-btn {
  font-weight: bold;
}
.hero-img {
  width: 100%;
}
.home-icon {
  scale: 2;
}
