

{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include 'head.html' %}
  <!-- End Head -->

  <body class="vh-100">
    {% include 'navbar.html' %}

    <div class="container-max-w ">
      <div class="card p-4 m-auto">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}


          <h4 class="card-header text-primary">Sign in</h4>
          
          <form action="{{url_for('auth_bp.login')}}" class="form card-body"  method="post" role="form">
              {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
          
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.submit, class='btn btn-primary btn-lg btn-block') }}
            <a href="{{url_for('auth_bp.forget_password')}}">Forget Password</a>
          </form>
          <p>Don't have an account, <a href="{{url_for('auth_bp.register')}}">register here</a> </p>
          </div>
    </div>

   

    <!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery -->
<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<!-- Bootstrap Core JS -->
<script src="{{ url_for('static', filename='assets/js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>

<!-- Slimscroll JS -->
<script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.min.js')}}"></script>

<!-- Slimscroll JS -->
<script src="{{ url_for('static', filename='assets/js/select2.min.js')}}"></script>

<!-- Datetimepicker JS -->
<script src="{{ url_for('static', filename='assets/js/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js')}}"></script>

<script src="https://kit.fontawesome.com/a6d3c1c916.js" crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>


    {% block scripts %}{% endblock %}
</body>
</html>



