{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block title %}User Register - Link Organize{% endblock %}


{% block content %}
<h1 >Create your account for free</h1>
<form action="{{url_for('auth_bp.register')}}" class="form "  method="post" role="form">
    {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.first_name) }}
  {{ wtf.form_field(form.last_name) }}
  {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.password) }}
  {{ wtf.form_field(form.submit, class='btn btn-primary btn-lg btn-block') }}
</form>
<p>Have an account?, just <a href="{{url_for('auth_bp.login')}}">sign here</a> </p>

{% endblock content %}


