

{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include 'head.html' %}
  <!-- End Head -->

  <body class="">
    {% include 'navbar.html' %}

    <div class="container-max-w my-4 ">
        
        <div class="card p-4 ">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <h4 class="card-header text-primary">Verify OTP</h4>
          
          <form action="{{url_for('auth_bp.verify_otp', email=request.args.get('email'))}}" class="form card-body"  method="post" role="form">
              {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.otp) }}
            {{ wtf.form_field(form.submit, class='btn btn-primary btn-lg btn-block') }}
          </form>
          </div>
    </div>

   

    <!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script src="https://kit.fontawesome.com/a6d3c1c916.js" crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>


    {% block scripts %}{% endblock %}
</body>
</html>



