<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class=" container-max-w ">        
        <div class="card" >
            <div class="card-img d-flex flex-column justify-content-center align-items-center border bg-light p-4">
                <a href="{{url_for('dashboard_bp.dashboard')}}" class="mr-auto p-2">⬅️ Return</a>
                <h5>Profile</h5>
                
                <img src="{{url_for('static', filename='assets/img/profiles/'+(current_user.profile_pic or 'default-profile.jpeg'))}}" class=" rounded-circle border profile-pic d-flex flex-column justify-content-center align-items-center "/>
                <a href="{{url_for('profile_bp.edit_profile', user_id = current_user.id)}}" class="btn btn-primary ml-auto">Edit Profile</a>

            </div>
            <div class="card-body">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Fisrt Name: {{current_user.first_name}}" aria-label="first_name" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Last Name: {{current_user.last_name}}" aria-label="last_name" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Title: {{current_user.user_title}}" aria-label="username" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Bio: {{current_user.user_bio}}" aria-label="username" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Email: {{current_user.email}}" aria-label="username" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Username: {{current_user.username}}" aria-label="username" aria-describedby="button-addon2" readonly>
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control fw-bold" value="Email: {{current_user.email}}" aria-label="username" aria-describedby="button-addon2" readonly>
                </div>
            </div>
          </div>
    </div>
    <footer class="footer navbar-brand text-center text-dark m-auto"> &copy; Oraganize Link</footer>

</body>
</html>