<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

    <div class=" container-max-w ">        
        <h4>Requested Page was not found...</h4>
        <a href="{{url_for('home_bp.home')}}" class="btn btn-success">Return to Home</a>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
   
    
    <script src="https://kit.fontawesome.com/a6d3c1c916.js" crossorigin="anonymous"></script>
    
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>
    
    
        {% block scripts %}{% endblock %}
</body>
</html>